/* shared styles here  */
* {
  margin: 0;
  padding: 0;
  /* font-size: 16px; */
  font-family: "Poppins", sans-serif;
}
.common {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 0;
}

/* header section here */
header {
  padding: 50px 120px;
}
/* nav bar styles  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 700;
}
.nav-menu {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu li {
  list-style: none;
  margin-left: 20px;
}
nav li > a {
  text-decoration: none;
}
/* banner section styles  */
.banner {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
  align-items: center;
}
.banner-content {
  max-width: 505px;
}
.banner-title {
  color: #3a3a3a;
  font-size: 52px;
  font-weight: 700;
}
.banner-btn {
  border-radius: 41px;
  background-color: #e02c6d;
  padding: 10px 24px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: none;
}
.banner-pics {
  background-image: url("./images/Circle\ design.svg");
  background-size: cover;

  text-align: center;
}
.banner-img {
  padding-top: 50px;
  width: 90%;
}

/* other website section here  */
.website-logos {
  max-width: 1440px;
  margin: 80px auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* gap: 20px; */
  justify-content: center;
}
/* main section here  */
main {
  padding: 0px 190px;
}
.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
  /* border: 1px solid red; */
  position: relative;
}
.main-title {
  color: #3a3a3a;
  font-size: 28px;
  font-weight: 600;
}
.box-container {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 32px;
  justify-content: space-around;
  align-items: center;
  /* max-width: 1440px; */
  /* padding: 32px; */
  padding-bottom: 30px;
}
.box {
  padding: 17px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.box-img {
  width: 100%;
}
.box-info {
  max-width: 196px;
}
.see-more {
  background-color: white;
  color: #e02c6d;
  border: none;
  position: absolute;
  right: 15%;
  bottom: 0;
  /* bottom: 10px; */
  /* margin-top: 10px; */
}

/* feature section  */
.feature-section {
  display: flex;
  padding: 100px 160px;
  justify-content: space-between;
  align-content: center;
}

.feature-pic {
  width: 100%;
}
.feature-content {
  /* text-align: center; */
  margin-top: 20px;
}
.feature-title {
  color: #0a0826;
  font-size: 38px;
  font-weight: 700;
}
.feature-text {
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 700;
  padding: 1rem 0;
  max-width: 501px;
}
.feature-btn {
  background-color: #e02c6d;
  padding: 10px 28px;
  border: 0;
  color: white;
  font-size: 16px;
  font-weight: 700;
}
/* footer styles here */
footer {
  background: #0a0826;
  text-align: center;
  padding: 50px 0;
}
footer > h1,
footer > p,
footer > i {
  color: rgb(255, 255, 255);
  padding-bottom: 5px;
}

/* responsive design  */
/* mobiles  */
@media screen and (max-width: 576px) {
  header,
  main {
    padding: 10px;
  }
  nav,
  .banner {
    flex-direction: column;
    gap: 30px;
    padding: 20px 0;
  }
  .nav-menu {
    width: 100%;
    padding: 5px;
  }
  .banner-content {
    text-align: center;
  }

  .website-logos,
  .box-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 20px;
  }
  .feature-section {
    flex-direction: column-reverse;
    padding: 10px;
    gap: 20px;
  }
}
@media screen and (min-width: 577px) and (max-width: 960px) {
  header,
  main {
    padding: 20px 80px;
  }
  .feature-section {
    padding: 30px;
  }
}
