/* shared styles here  */
* {
  margin: 0;
  padding: 0;
  /* font-size: 16px; */
  font-family: "Poppins", sans-serif;
}
.common {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 0;
}

/* header section here */
header {
  padding: 90px 120px;
}
/* nav bar styles  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 700;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}
.nav-menu li {
  list-style: none;
  margin-left: 20px;
}
nav li > a {
  text-decoration: none;
}
/* banner section styles  */
.banner {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
  align-items: center;
}
.banner-content {
  max-width: 505px;
}
.banner-title {
  color: #3a3a3a;
  font-size: 52px;
  font-weight: 700;
}
.banner-btn {
  border-radius: 41px;
  background-color: #e02c6d;
  padding: 10px 24px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: none;
}
.banner-pics {
  background-image: url("./images/Circle\ design.svg");
  background-size: cover;

  text-align: center;
}
.banner-img {
  padding-top: 50px;
  width: 90%;
}

/* other website section here  */
.website-logos {
  max-width: 1440px;
  margin: 80px auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* gap: 20px; */
  justify-content: center;
}
/* main section here  */
main {
  padding: 100px 190px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  text-align: center;
}
.main-title {
  color: #3a3a3a;
  font-size: 28px;
  font-weight: 600;
}
.box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 32px;
  justify-content: center;
  align-items: center;
}
.box {
  padding: 17px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.box-img {
  width: 100%;
}
.box-info {
  max-width: 196px;
}

/* responsive design  */
/* mobiles  */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .banner {
    flex-direction: column;
    gap: 30px;
    padding: 20px 0;
  }
  .banner-content {
    text-align: center;
  }
  .website-logos {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 20px;
  }
}
